* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    padding: 20px;
    align-items: center; /* Centers content horizontally */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center; 
}

/* Form styling */
#searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchForm input {
    padding: 10px;
    font-size: 1rem;
    width: 60%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#searchForm button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #fffb00;
    color: #333;
    border: 1px solid #fffb00;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#searchForm button:hover {
    background-color: #dfdb00;
    border: #dfdb00;
}

/* Results styling */
#results {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    max-width: fit-content;
}

#results ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#results li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#results li p {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* No results message */
#results p {
    text-align: center;
    font-size: 1rem;
    color: #888;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.sort-button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: #fffb00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.sort-button:hover {
    background-color: #dfdb00;
    border: #dfdb00;
}

.video-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.video-thumbnail {
    width: 120px;
    height: 90px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.video-item p {
    margin: 5px 0;
}

.video-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
    width: 120px;
    height: 90px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
}

.video-info p {
    margin: 5px 0;
}

.video-info a {
    color: #333;
    text-decoration: none;
}

.video-info a:hover {
    text-decoration: underline;
}